body{
  margin: 0px;
  background: #000;
  color: #fff;
  font-family: sans-serif;
}

a{
  color: #fff;
  text-decoration: none;
}

.entry{
  float: left;
  background-color: #666;
  margin: 1.66%;
  width: 30%;
  font-weight: 700;
}

.title {
  margin: 2.5%;
  font-size: 1.2em;
}

.date{
  margin: 2.5%;
  font-size: 0.8em;
  font-weight: 200;
}

.category{
  margin: 2.5%;
  font-size: 0.8em;
  font-weight: 200;
  text-decoration: underline;
}

.entry img{
  width: 95%;
  margin: 2.5%;
}

.thumb{
  margin: 1%;
}

.bodytext{
  margin: 1%;
}
